.navBar {
  overflow: hidden;
  background-color: #EDF1D6;  
  padding-bottom: 12px;
  padding-top: 12px;
}

#title {
  font-size: 35px;
  font-weight: bold;
  padding-left: 350px;
}

#welcomeUser {
  font-size: 20px;
  font-style: italic;
  padding-left: 100px;
  padding-top: 10px;
}

#signOut {
  font-size: 20px;
  padding-left: 100px;
  padding-top: 10px;
}

.main {
  text-align: center;
  overflow: hidden;
  background-color: #9DC08B;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 80px;
  padding-bottom: 10000px;
  color: black;
  
}
