.navBar {
  overflow: hidden;
  background-color: #bfb9ae;  
  padding-bottom: 12px;
  padding-top: 12px;
}

#welcomeUser {
  font-size: 15px;
  font-style: italic;
  padding-left: 150px;
  padding-top: 10px;
}

#signOut {
  font-size: 15px;
  padding-top: 10px;
  padding-right: 150px;
}

#signOut:hover {
  cursor: pointer;
}

#createPost {
  font-size: 15px;
  padding-top: 10px;
}

#createPost {
  font-size: 15px;
  padding-top: 10px;
}

.searchPosts {
  width: 300px;
}

.searchPosts::placeholder {
  color: grey;
}

.main {
  text-align: center;
  overflow: hidden;
  background-color: #bfb9ae;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 80px;
  padding-bottom: 1000px;
  color: black;
}

#postBorder {
  border-style: solid;
  margin-left: 70px;
  max-block-size: 200px;
  overflow: hidden;
}

#postBorder:hover {
  transform: scale(1.25); 
  max-block-size: 500px;
}